
$xs: 320px; // extra small
$sm: 576px; // small small
$md: 768px; // medium small
$lg: 992px; // large small
$xl: 1200px; // extra large


@mixin rs-xs {
    @media (min-width: $xs) {
        @content;
    }
}
@mixin rs-sm {
    @media (min-width: $sm) {
        @content;
    }
}
@mixin rs-md {
    @media (min-width: $md) {
        @content;
    }
}
@mixin rs-lg {
    @media (min-width: $lg) {
        @content;
    }
}
@mixin rs-xl {
    @media (min-width: $xl) {
        @content;
    }
}