
.wishlist-product{
    .href{
        background: #fafafa;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 30px;
        a{  
            margin-top: 40px;
            color: #222222;
            font-weight: 600;
            font-size: 14px;
        }   
    }
    h3{
        color: #1c1c24;
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .row{
        border: 1px solid #cabebe;
        padding: 15px;
        border-radius: 5px;
        align-items: center;
        
        span{
            color: #222222;
            font-weight: 700;
            font-size: 15px;
        }
    }
    .no-list{    
        display: none;
        border: 1px solid #cacadd;
        border-top: none;
      //  border-bottom: none;
        width: 101.4%;
        margin-left: -8px;
        border-radius: 5px;
        padding: 10px;
       p{
           margin-left: 40%;
           color: #1c1c1c;
           font-size: 14px;
           font-weight: 400; 
       }
    }
    .cols-list{
        border: 1px solid #cacadd;
        border-top: none;
        width: 101.4%;
        margin-left: -8px;
        border-radius: 5px;
        .item{
            border-top: 1px solid #cacadd;
            display: flex;
            align-items: center;
           // padding: 10px  0;
            .images{
                width: 10%;
                img{
                    width: 50%;
                    margin-left: 50px;
                }
            }
            button#delete-list{  
                margin-left: 30px;
                color: red;
                background: white;
                font-weight: 600;
                text-align: end;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    background: red;
                    color: white;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                   
                }
            }
            button#add-list{
                background: #007bff;
                color: white;
                font-weight: 800;
                border-radius: 5px;
                padding: 15px 25px;
                transition: all 0.3s;
                cursor: pointer;
                &:hover{
                    background: #93b735;
                }
            }
            span{
                color: #222222;
                font-weight: 700;
                font-size: 15px;
            }
            .price{
                width: 16%;
                color: #93b735;
                font-weight: 500;
                font-size: 15px;
            }
            .quantity{
                width: 22%;
                color: #308067;
                font-weight: 500;
                font-size: 14px;
            }
            .name{
                width: 25%;
                margin-left: 40px;
                color: #0083ff;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}